@mixin d-flex {
  display: flex;
}

@mixin d-flex-a-center {
  display: flex;
  align-items: center;
}

@mixin d-flex-j-center {
  display: flex;
  justify-content: center;
}

@mixin d-flex-a-center-j-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin f-column {
  flex-direction: column;
}
